body {
  /*
  background: linear-gradient(90deg, rgb(181, 201, 228) 12%, rgb(133, 108, 211));
  */
  background: -webkit-linear-gradient(21deg, #baffb6,#56c4e0,#8c7a9c);/* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(21deg, #baffb6,#56c4e0,#8c7a9c);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

